body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}


.container {
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    gap: 50px;
}

.movies {
    display: flex;
    gap: 50px;
}

.movieCard {
    background: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.movieCard img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    background-color: #1a1a1a;
}

button {
    background: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background: #ff4a3d
}

.historySection {
    margin-top: 30px;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
}

.historySection h2 {
    font-size: 1.8rem;
}

#bookingHistory {
    list-style: none;
    padding: 0;
}

#bookingHistory li {
    background: #444;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.clearHistoryBtn {
    background: #ff4a3d;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.clearHistoryBtn:hover {
    background: #d93a30;
}